.title {
  text-decoration: none;
}

.logoLink:active,
.logoLink {
  text-decoration: none;
}

.logoLink:hover {
  text-decoration: underline;
  text-decoration-color: var(--mantine-color-ytRed-9);
}

.breadcrumbLink {
  color: var(--mantine-color-ytRed-text);
  text-decoration: none;
}

:global {
  div.mantine-Breadcrumbs-breadcrumb:last-child a {
    color: var(--matine-color-text);
    text-decoration: underline;
  }
  .navLink {
    font-weight: 700;
    text-decoration: none;
    padding-left: var(--mantine-spacing-md);
    color: var(--mantine-color-text);
  }
  .navLink.active {
    text-decoration: underline;
    color: var(--mantine-color-ytRed-text);
  }
}
