

.breadcrumbLink {
  color: var(--mantine-color-text);
  text-decoration: none;
  font-weight: bold;
}

:global {
  * {
    transition: color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
  }
}

body {
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}