.title {
  text-decoration: none;
}

.logoLink:active,
.logoLink {
  text-decoration: none;
}

.logoLink:hover {
  text-decoration: underline;
  text-decoration-color: var(--mantine-color-ytRed-9);
}

.breadcrumbLink {
  color: var(--mantine-color-text);
  text-decoration: none;
  font-weight: bold;
}

:global {
  .navLink {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: var(--mantine-color-text);
    margin-bottom: var(--mantine-spacing-xs);
  }
  .navLink:hover {
    text-decoration: underline;
  }
  .navLink.active {
    text-decoration: underline;
    color: var(--mantine-color-ytRed-text);
  }
}
