.card {
  width: 100%;
  justify-content: space-between;
  max-width: 400px;
}

.title {
  height: calc(1.35 * 3 * var(--mantine-h2-font-size));
}

.description {
  height: calc(3 * 1.55 * var(--mantine-font-size-md));
}

.link {
}

.image {
  width: 100%;
}

.bottomText {
  width: 100%;
}
